@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@600&display=swap');
* {
  top: 0;
  margin: 0;
  padding: 0;
}
.container {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(1,31,0,0.9612219887955182) 100%, rgba(0,212,255,1) 100%);
  height: 170vh;
  background-size: cover;
  position: relative;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
    animation: blink1 .3s linear ;
    animation-iteration-count: 7;
  
  @keyframes blink1 {
    0% {
      opacity: 0;
    }
  }
}
.title .tit {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Source Code Pro', monospace;
  line-height: 5rem;
} 
.tit1 {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Source Code Pro', monospace;
  line-height: 3rem;
  margin-top: 10px;
}
.box {
  width: 1600px;
  height: 950px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0);
}
.text {
  margin: 50px 50px 0px 50px;
  display: flex;
  flex-direction: column;

}
.submit {

  height: 100px;
  width: 200px;
  color: green;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: green 5px solid;
  border-radius: 15px;
  position: absolute;
  top:150%;
  left: 80%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.blink {
  padding-top: 30px;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace; 
  font-weight: 900;
  line-height: 28px;
  font-size: 22px;
  
}
.blink0 {
        animation: blink1 .3s linear ;
        animation-iteration-count: 7;
      }
      @keyframes blink1 {
        0% {
          opacity: 0;
        }
      }
    
input {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  line-height: 28px;
  font-size: 1rem;
  outline: none;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}
.formgroup {
  margin-top: 15px;
}
.ready {

  height: 100px;
  width: 200px;
  color: green;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: green 5px solid;
  border-radius: 15px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.dangki {

  height: 100px;
  width: 200px;
  color: green;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: green 5px solid;
  border-radius: 15px;
  position: absolute;
  top:50%;
  left:90%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform .2s;
}
.dangki:hover {
  transform: scale(1.5);
}